@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>


<address>
    Mihael Stjepanović<br />
    Braće Radića 6, 42 000 Varaždin<br />
    +385 222 1951
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:m.stjepanovic@protonmail.com">m.stjepanovic@protonmail.com</a><br />
</address>
<br />

<h4>@ViewBag.Poruka</h4>
<form method="post">
    <textarea name="poruka"></textarea>
    <br />
    <input type="submit" value="Pošalji"/>
</form>